
*{
    margin: 0 ;
    padding: 0; 
    box-sizing: border-box;
    line-height: 1.5;
    color: #777777;
}

body{
    background-color: #e4e0e0ec;
    font-size: 18px;
   

}

.container{
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border: #dddddd 2px solid;

}


header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc ;

}

footer{
    position:fixed;
    background-color:#666666;
    color: #ffffff;
    border-top: 10px solid teal;
    padding: 10px;
    text-align: center;
    bottom:0;
    width:100%;
}

h1{
    background-color: teal;
   color: #ffffff;
   width:30%;
    

}

h2{
     color:teal;
}

img{
    height:130px;
    width:20%;
}

li{
    display:inline;
     padding: 5px;
}

 section{
     padding: 30px;
 } 

 .borderBottom{
     border-bottom: #777777 2px solid ;
 }

  section.borderBottom {
    border-bottom: 2px solid #777777 ;
   
 }

.full{
    clear: both;
    overflow:auto;
  
  }

  .floatright{
      float: right;
  }

  .floatleft{
      float: left;
  }